* {
    margin: 0;
    padding: 0;
}

p {
    background-color: lightskyblue;
    color: #fff;
    height: 500px;
    font-size: 55px;
    text-align: center;
}

h3 {
    color: blueviolet;
    background-color: burlywood;
    height: 200px;
    text-align: center;
    font-size: 45px;
}
